body {
    background: transparent;
    display: flex;
    box-shadow: 0px 0px 14px rgb(78 11 11);
    padding-top: 140px;
    padding-bottom: 5px;
    background-color: #ffdbdb;
    border-radius: 40px;
    align-self: center;
}
.form-ingreso {
    margin-top: 20px;
    padding-top: 10px;
    align-self: center;
    box-shadow: 0px 0px 14px rgb(78 11 11);
}